<div class="container">
	<h2>Simple todo list</h2>

	<a href="#" class="logout" ng-click="projContCtrl.logout()">Logout me (^_^)</a>

	<a href="" 
		ng-click="projContCtrl.isProjectCreateFormVisible = !projContCtrl.isProjectCreateFormVisible" 
		class="add-project-btn">
			<span ng-show="!projContCtrl.isProjectCreateFormVisible">Add new Project</span>
			<span ng-show="projContCtrl.isProjectCreateFormVisible" ng-click="projContCtrl.newProjectName = '' ">Hide Project form</span>
	</a>


	<div class="project-craete-form" ng-show="projContCtrl.isProjectCreateFormVisible">
		<i class="fa fa-calendar" aria-hidden="true"></i>

		<div class="project-input">
			<div class="input-table">
				<div class="input-wrapper">
					<input type="text" class="form-control" placeholder="Project name" ng-model="projContCtrl.newProjectName">
				</div>
				<a href="#" ng-click="projContCtrl.createProject(projContCtrl.newProjectName)" class="btn btn-default">Create Project</a>
			</div>
		</div><!-- /.project-input -->
	</div><!-- /.project-craete-form -->


	<div ng-repeat="project in projContCtrl.projects">
		<project project="project"></project>
	</div>
</div><!-- /.container -->


