<div class="project">
	<div class="project-header">
		<i class="fa fa-calendar" aria-hidden="true"></i>
		<span ng-bind="projCtrl.project.projectName"></span>
		<div class="control-btns-wrapper">
			<a href="#" class="control-btn edit">
				<i class="fa fa-pencil" aria-hidden="true"></i>	
			</a>
			<a href="#" class="control-btn remove">
				<i class="fa fa-trash " aria-hidden="true"></i>	
			</a>
		</div>
	</div><!-- /.project-header -->

	<div class="project-input">
		<div class="input-table">
			<div class="input-wrapper">
				<input type="text" class="form-control" placeholder="Task name">
			</div>
			<a href="#" class="btn btn-default">Add Task</a>
		</div>
	</div><!-- /.project-input -->

	<div class="project-body">
		<div ng-repeat="task in projCtrl.project.tasks" class="task">
			<task task="task" on-delete="projCtrl.deleteTodoItem(item)" on-edit=""></task>
		</div>
	</div><!-- .project-body -->
</div><!-- /.single-project -->