.login-wrapper{
	display: table;
	width: 100%;
	max-width: 450px;
	margin-right: auto;
	margin-left: auto;
	height: 450px;

	.form-group	p{
		margin-bottom: 0;
	}
	.text-warning{
		margin-bottom: 10px;
	}

	.login-form .btn{
		float: left;
	}

	.fb-form{
		float: right;
	}
}