.single-todo{
	display: table;
	width: 100%;
	border-bottom: 1px solid darken(#ebebeb, 20%);
	background-color: $light-color;
	cursor: default;
	@include transition();
	&:hover{
		background-color: mix($light-color, $primary-bg);	
	}
	&:last-child{
		border-bottom: none;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.completed{
		text-decoration: line-through;
	}
	.checkbox-wrapper{
		display: table-cell;
		width: 52px;
		border-right: 1px solid #ebebeb;
		text-align: center;
	} 
	.task-title-wrapper{
		display: table-cell;
		padding-top: 10px;
		padding-bottom: 11px;
		border-right: 1px solid #ebebeb;
		.task-title{
			padding-right: 12px;
			padding-left: 12px;
		}
	}
	.controls{
		display: table-cell;
		width: 120px;
		text-align: center;
		a{
			margin: 0 6px;
			&:hover{
				text-decoration: none;
			}
		}
	}			
}