<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Document</title>
	<base href'/'> 
	<!-- cssDependencies:css -->
	<link rel="stylesheet" href="/dependencies/css/angular-material.css">
	<link rel="stylesheet" href="/dependencies/css/ngToast-animations.css">
	<link rel="stylesheet" href="/dependencies/css/ngToast.css">
	<!-- endinject -->	
	
	<!-- inject:css -->
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- endinject -->	
</head>
	<body ng-app="app" ng-controller="appCtrl">

		
		<div ui-view></div>


		<toast></toast>

		<!-- jsLibs:js -->
		<script src="dependencies/js/jquery.js"></script>
		<!-- endinject -->

		<!-- jsDependencies:js -->
		<!-- endinject -->	

		<!-- components:js -->
		<!-- endinject -->
	</body>
</html>