<div ng-class="{'completed': itemCtrl.todo.isCompleted}">
	<div class="checkbox-wrapper">
		<input type="checkbox" ng-model="itemCtrl.todo.isCompleted">
	</div>
	<div class="task-title-wrapper">
		<div class="task-title">{{itemCtrl.todo.todoTitle}}</div>
	</div>
	<div class="controls">
		<a href="#" class="control-btn edit">
			<i class="fa fa-pencil" aria-hidden="true"></i>	
		</a>
		<a href="#" class="control-btn remove" ng-click="itemCtrl.deleteItem()">
			<i class="fa fa-trash " aria-hidden="true"></i>	
		</a>				
	</div>				
</div><!-- /.single-todo -->
