<div class="container">
	<h2>Simple todo list</h2>

	<div class="todo-list">
		<div class="todo-list-header">
			<i class="fa fa-calendar" aria-hidden="true"></i>
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, suscipit.</span>
			<div class="control-btns-wrapper">
				<div class="control-btn">
					<i class="fa fa-pencil" aria-hidden="true"></i>	
				</div>
				<div class="control-btn">
					<i class="fa fa-trash" aria-hidden="true"></i>	
				</div>
			</div>
		</div><!-- /.todo-list-header -->

	</div><!-- /.single-todo-list -->

</div><!-- /.container -->
